# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
ENV/
.venv/

# Environment variables & secrets
.env

# DeepFace cached model weights
.deepface/
weights/

# IDE & OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
